:root{
    --main-color:#018bc8;
    --light-green:#9BE52E;
    --bg:#F9FAFB;
    --border:1px solid rgba(0,0,0,0.05)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login{
    /* height: 50px; */
    background:var(--bg);
    padding: 8px 100px;
    font-size: 17px;
    border-bottom: var(--border);
}

.header{
    padding: 30px 100px;
    /* height: 150px; */
    border-bottom:var(--border);
    display: flex;
    gap: 5rem;
    align-items: center;
}
.header .num{
    white-space: nowrap;
}
.header .num p{
    color:#777;
    /* padding: 0 60px; */
}
.header .num span{
    color: var(--light-green);
}
.header .search{
    flex-grow: 1;
    /* position: relative; */
    /* padding-right: 10%; */

    
    
}
.header .input-wrapper{
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: var(--border); display: flex;
}
.header .search input{
   border: none;
    background: var(--bg);
    font-size: 15px;
    padding: 13px;
    /* width: 550px; */
    /* width: 100%; */
    flex-grow: 1;
    
    
}
.header .search .search-icon{
    display: inline-block;
    padding: 10px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    /* position: absolute; */
    /* top: 1%; */
    
}
.header .search i{
    font-size: 22px;
    
}

.navber{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 0 100px;
    border-bottom:var(--border) ;
}
.navber li{
    white-space: nowrap;
    list-style: none;
    /* padding: 17px 50px; */
    padding: 1rem 0;
    border-right: var(--border);
    border-left: var(--border);
    flex-grow: 1;
    display: grid;
    place-items: center;
    
}
.navber li:last-child{
    /* flex-grow: 1; */
}
.navber li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.navber li i{
    text-decoration: none;
    color: var(--light-green);
    font-size: 25px;
}

.cart{
    /* width: 390px; */
    
    
}
.cart a{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart   p{
    color: #777;
    font-size: 14px;
}
.cart span{
    color: black;
    
}




/*--------media query------ */

@media screen and (max-width:1058px){
    html{
        font-size: 30%;
    }
    .header{
        padding:30px 70px ;
    }
    .header .logo{
        width: 200px;
     }
     .header .logo img{
        width: 100%;
        height: auto;
     }
    .header .num p{
        font-size: 15px;
    }
    .navber{
        padding: 0px 70px;
    }
    .navber li{
        white-space: nowrap;
        list-style: none;
        /* padding: 17px 50px; */
        padding: 3rem 0;
        border-right: var(--border);
        border-left: var(--border);
        flex-grow: 1;
        display: grid;
        place-items: center;
    }
}
@media screen and (max-width:870px){
    html{
        font-size: 30%;
    }
    .header .logo{
       width: 150px;
    }
    .header .logo img{
       width: 100%;
       height: auto;
    }
}
@media screen and (max-width:770px){
    .login{
        text-align: center;
    }
}