:root{
    --main-color:#018bc8;
    --light-green:#9BE52E;
    --bg:#F9FAFB;
    --border:1px solid rgba(0,0,0,0.05)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login{
    /* height: 50px; */
    background:var(--bg);
    padding: 8px 100px;
    font-size: 17px;
    border-bottom: var(--border);
}

.header{
    padding: 0 100px;
    height: 150px;
    border-bottom:var(--border);
    display: flex;
    align-items: center;
}

.header .num p{
    color:#777;
    padding: 0 60px;
}
.header .num span{
    color: var(--light-green);
}
.header .search{
    flex-grow: 1;
    position: relative;
    
    
}
.header .search input{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: var(--border);
    background: var(--bg);
    font-size: 15px;
    padding: 13px;
    width: 550px;
    
    
}
.header .search .search-icon{
    display: inline-block;
    padding: 10px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    position: absolute;
    top: 1%;
    
}
.header .search i{
    font-size: 22px;
    
}

.navber{
    display: flex;
    border-bottom:var(--border) ;
}
.navber li{
    list-style: none;
    padding: 17px 50px;
    border-right: var(--border);
    
}
.navber li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.navber li i{
    text-decoration: none;
    color: var(--light-green);
    font-size: 25px;
}

.cart{
    width: 390px;
    
    
}
.cart a{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart   p{
    color: #777;
    font-size: 14px;
}
.cart span{
    color: black;
    
}

