:root{
    --main-color:#018bc8;
    --light-green:#9BE52E;
    --bg:#F9FAFB;
    --border:1px solid rgba(0,0,0,0.05)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    padding: 0 100px;
    height: 150px;
    border-bottom:var(--border);
    display: flex;
    align-items: center;
}

.header .num p{
    color:#777;
    padding: 0 80px;
}
.header .num span{
    color: var(--light-green);
}
.header .search{
    flex-grow: 1;
    
    
}
.header .search input{
    border-radius: 5px;
    border: var(--border);
    background: var(--bg);
    font-size: 15px;
    padding: 13px;
    width: 550px;
    
}
.header .search .search-icon{
    display: inline-block;
    padding: 13px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
}
.header .search i{
    font-size: 20px;
    
}

